@charset "utf-8";

/* common */

body {
  background: pink;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/* header */

header {
  padding: 32px 0;
}

h1 {
  font-size: 0;
  margin: 0;
}

h1 img {
  width: 168px;
}
