@charset "utf-8";

/* common */

body {
  /* background: pink; */
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/* header */

header {
  padding: 32px 0;
}

h1 {
  font-size: 0;
  margin: 0;
}

h1 img {
  width: 168px;
}

/* main */

h2 {
  font-weight: normal;
  margin: 0;
  font-size: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px 0;
}

.products a {
  text-decoration: none;
  color: inherit;
}

main img {
  width: 176px;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

p {
  margin: 0;
}

.products a:hover {
  opacity: 0.6;
}

footer {
  text-align: center;
}
